NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDe33YdU8_t41PcwjBPn9LBK42v9owlx9E
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=growth-engine-demo.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=growth-engine-demo
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=growth-engine-demo.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=994986010308
NEXT_PUBLIC_FIREBASE_APP_ID=1:994986010308:web:931d4cd4d3fa1ab5a1cb91
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-7M3T7JSQ85